<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="fragments/head ::head"/>
<th:block th:insert="fragments/navbar :: header"/>
<body>
<div class="container" style="margin-top: 10px;text-align: center;">
    <div class="alert alert-info">
        Šī mājaslapa ir izstrādāta specsemināra "Atvērtie dati un datu kvalitāte" ietvaros.</br>
        Mājaslapas izstrādē tika izmantoti atvērtie dati no Latvijas atvērtā datu portāla:</br>
        <a href="https://data.gov.lv/dati/lv/dataset/valstu-saslimstibas-raditaji-ar-covid-19" class="alert-link">https://data.gov.lv/dati/lv/dataset/valstu-saslimstibas-raditaji-ar-covid-19</a>
    </div>
</div>
<footer class="footer fixed-bottom">
    <p style="font-family: Poppins, sans-serif;font-size: 8px;color: rgb(153,165,177);text-align: center;margin-top: 16px">
        &copy Uldis Jansons, uj18005</p>
</footer>
</body>
</html>